# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# =========================
# IDEs
# =========================

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# =========================
# Environment / Secrets
# =========================
config/application-local.properties

.env
.env.*
!.env.example

application-local.properties
application-local.yml
application-local.yaml

# =========================
# Python - future agent
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini